@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estiliza APENAS a div da coluna esquerda */
.banner {
  background-image: url('./assets/Banner.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Opcional: Adiciona uma sombra sutil ao texto do banner para melhor leitura */
.text-shadow {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}